/* background shadow*/
$shadow: 0px 0px 50px 2px #888888;

/* white */
$white: hsl(0, 0%, 100%);

/* app background */
$lightGrey: hsl(0, 0%, 90%);

/* theme gradient*/
$gradient: linear-gradient(
  to right,
  hsl(264, 100%, 61%),
  hsl(293, 100%, 63%)
);
$gradientRev: linear-gradient(
  to right,
  hsl(293, 100%, 63%),
  hsl(264, 100%, 61%)
);

/* fonts */

/* colors */

/*  subheading */
$paleViolet: hsl(276, 100%, 81%);

/* incomingMessage text */
$moderateViolet: hsl(276, 55%, 52%);

/* incomingMessage background */
$lightPurple: rgba(146, 65, 200, 0.09);

/* outgoingMessage text */
$desaturatedViolet: hsl(271, 15%, 43%);

/* placeholder text*/
$grayishBlue: hsl(206, 6%, 79%);

/* mainHeading text */
$veryDarkViolet: hsl(271, 36%, 24%);

/* paragraph */
$grayishViolet: hsl(270, 7%, 64%);
