.messages {
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  border-radius: 5px;

  box-sizing: border-box;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  overflow: scroll;
}
