@import './variables';

.frame {
  transform: translateX(-6vw);
  height: 700px;
  width: 345px;
  border-radius: 30px;
  box-shadow: $shadow;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;

  align-items: center;
  justify-content: center;
  position: relative;
}

.frame::after {
  content: '';
  position: absolute;
  margin: auto;
  top: 10px;
  left: 25%;
  width: 50%;
  height: 4%;
  border-radius: 0 0 16px 16px;
  background: white;
}

.content {
  background-color: $lightGrey;
  height: 100%;
  width: 100%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

// @media (max-height: 620px) {
//   .frame {
//     height: 550px;
//     width: 271px;
//   }
// }
