@import './variables';

.frame {
  transform: translateX(-6vw);
  height: 700px;
  width: 345px;
  border-radius: 30px;
  box-shadow: $shadow;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease-in-out;

  animation: SlideInFromBottom 0.8s 1.5s ease-in-out both;
}

.frame::after {
  content: '';
  position: absolute;
  margin: auto;
  top: 10px;
  left: 25%;
  width: 50%;
  height: 4%;
  border-radius: 0 0 16px 16px;
  background: white;
}

.content {
  background-color: $lightGrey;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .frame {
    height: 650px;
    width: 320px;
  }
}

@media (max-width: 870px) {
  .frame {
    transform: translateX(0px);
  }
}

@media (max-height: 650px) {
  .frame {
    height: 550px;
    width: 270px;
  }
}

@keyframes SlideInFromBottom {
  from {
    opacity: 0;

    transform: translate(-6vw, 40px);
  }

  to {
    opacity: 1;

    transform: translate(-6vw, 0px);
  }
}

@media (max-width: 870px) {
  @keyframes SlideInFromBottom {
    from {
      opacity: 0;

      transform: translate(0vw, 40px);
    }

    to {
      opacity: 1;

      transform: translate(0vw, 0px);
    }
  }
}
