@import './variables';
@import './mixins';

@mixin onFocusAndHover() {
  &:focus,
  &:hover {
    background-color: $moderateViolet;
  }
}

form {
  box-sizing: border-box;
  border-radius: 25px;

  background-color: $white;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;

  padding: 10px;
}

input[name='message'] {
  margin-left: 10px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 0.85rem;

  max-width: 60%;

  border: none;

  background: transparent;
}

.submit-chevron {
  filter: invert(1);
  height: 15px;
  width: 10px;
  transform: translateX(1px);
}

input[name='message']::placeholder {
  margin-left: 5px;
  color: $grayishBlue;
  font-size: 0.8rem;
}

button[type='submit'] {
  border-radius: 50%;
  border: none;
  color: $white;
  height: 35px;
  width: 35px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  align-self: center;

  cursor: pointer;

  @include onFocusAndHover();

  &:disabled {
    background-color: grey;
  }
}

#pictures {
  display: none;
}

.picture-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-pictures {
  height: 20px;
  width: 20px;
  align-self: center;
  cursor: pointer;
}

.price-select {
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .price-popup {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  &.active {
    .price-popup {
      position: absolute;
      border-radius: 10px;
      box-sizing: border-box;
      height: 40px;
      width: 100px;
      bottom: 150%;
      right: -200%;
      padding-right: 10px;
      padding-left: 10px;
      background-color: grey;

      @include remove-spinner();

      display: flex;
      align-items: center;
      justify-content: center;

      animation-name: FadeInTooltip;
      animation-duration: 0.25s;
      animation-timing-function: cubic-bezier(0.7, 1.5, 0.78, 1.5);
      animation-fill-mode: both;

      color: $white;
      font-weight: 700;

      input {
        background-color: transparent;
        max-width: 30%;
        border: none;

        color: $white;
        font-weight: 700;
      }

      &::after {
        content: ' ';
        position: absolute;
        top: 99%;
        left: 50%;
        margin-left: -15px;
        border-width: 15px;
        border-style: solid;
        border-color: grey transparent transparent transparent;
      }
    }
  }

  .dollar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    .price-counter {
      position: absolute;
      top: -11px;
      right: -5px;
      height: 15px;
      width: 30px;
      border-radius: 20px;
      background-color: $moderateViolet;
      font-size: 10px;
      color: white;
      line-height: 17px;
    }
    .add-price {
      height: 20px;
      width: 20px;
      align-self: center;
      cursor: pointer;
    }
  }
}

.image-counter {
  position: absolute;
  top: -5px;
  right: -7px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $moderateViolet;
  font-size: 10px;
  color: white;
  line-height: 17px;
}

@keyframes FadeInTooltip {
  from {
    transform: translateY(10px);

    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 950px) {
  button[type='submit'] {
    height: 25px;
    width: 25px;

    img {
      height: 12px;
      width: 10px;
    }
  }
}
