@import './variables';
@import './mixins';

.bubble {
  @include word-wrap();
  max-width: 55%;
  padding: 3px;
  font-size: 0.85rem;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

.bubble:not(:first-child) {
  margin-top: 10px;
}

.bubble.outgoing {
  background-color: $whiteBackground;
  color: $desaturatedViolet;
  border-radius: 15px 15px 5px 15px;
  align-self: flex-end;
  box-shadow: 0px 3px 5px 0.5px #888888;
  animation: 0.3s ease-in-out both BubbleSlideInRight;
}

.bubble.incoming {
  border-radius: 15px 15px 15px 5px;
  background-color: $lightPurple;
  color: $moderateViolet;
  align-self: flex-start;
  animation: 0.3s ease-in-out both BubbleSlideInLeft;
}

.bubble.image {
  background: transparent;
  box-shadow: none;

  div {
    display: flex;
    @include hide-scrollbar;
    overflow-x: scroll;
  }

  img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
  }

  img:not(:first-child) {
    margin-left: 5px;
    animation: 0.3s ease-in-out both BubbleSlideInRight;
  }
}

.bubble.incoming.image {
  div {
    flex-direction: row-reverse;
  }
  img:not(:first-child) {
    margin-right: 5px;
  }
}

.bubble.checkbox {
  max-width: 100%;
  width: 70%;
  padding: 10px;
  padding-left: 15px;
  background-image: $gradientRev;
  display: flex;

  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    min-width: 15px;
    height: 15px;
    cursor: pointer;
    border: 1px solid $white;
    vertical-align: middle;
    border-radius: 50%;
    transition-duration: 0.2s;
  }

  input[type='checkbox']:checked {
    background-color: $white;
  }

  label {
    font-size: 0.7rem;
    color: $white;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    .checkbox-container {
      display: flex;
      align-content: center;
      justify-content: center;
    }

    .checkbox-message {
      margin-left: 10px;
    }

    .checkbox-price {
      font-weight: 700;
      font-size: 1.1rem;
      min-width: 30px;
      margin-left: 5px;
      position: relative;
    }
  }
}

p {
  text-align: left;
  margin: 5px;
}

@keyframes BubbleSlideInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes BubbleSlideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
