@import './variables';

.navigation {
  position: relative;
  margin-top: 0px;
  min-height: 15%;
  background-color: purple;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: $gradient;
  box-shadow: 0 3px 3px 0px #888888;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin-top: 10%;
  }

  .left-chevron {
    filter: invert(1);
  }

  .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1.5px solid $white;
  }
}

.recipient-info {
  color: $white;
  flex-grow: 0.7;
  text-align: left;

  p {
    margin: 0px;
  }

  .name {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .status {
    font-size: 0.7rem;
    color: $paleViolet;
  }
}
.options {
  border: 3px solid $white;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}
.options::before {
  position: absolute;
  bottom: 7px;
  content: '';
  border: 3px solid $white;
  left: -3px;

  border-radius: 50%;
}

.options::after {
  position: absolute;
  top: 7px;
  content: '';
  border: 3px solid $white;
  left: -3px;
  border-radius: 50%;
}
