@import './variables';

.navigation {
  position: relative;
  margin-top: 0px;
  min-height: 15%;
  background-color: purple;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: $gradient;

  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin-top: 10%;
  }

  .left-chevron {
    filter: invert(1);
  }

  .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid $white;
  }
}

.recipient-info {
  color: $white;
  flex-grow: 0.7;
  text-align: left;

  p {
    margin: 0px;
  }

  .name {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .status {
    font-size: 0.55rem;
    color: $paleViolet;
  }
}
.options {
  border: 2px solid $white;
  border-radius: 50%;

  position: relative;
}
.options::before {
  position: absolute;
  bottom: 5px;
  content: '';
  border: 2px solid $white;
  left: -2px;

  border-radius: 50%;
}
.options::after {
  position: absolute;
  top: 5px;
  left: -2px;
  content: '';
  border: 2px solid $white;
  border-radius: 50%;
}
